/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#009688 20%, #d2dbdc 20%);
}


li {
    list-style: none;
}

/* UTILITIES */
.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.block {
    display: block;
}

.white {
    background: #fff;
}

/* APP */
.app {
    width: 80%;
    min-width: 900px;
    height: 95%;
}


.avatar-box {
    border-radius: 50%;
    overflow: hidden;
}

    .avatar-box img {
        height: 100%;
        width: 100%;
    }

.header {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #eaeaea
}

    .left-header .avatar-box{
        width: 35px;
        height: 35px;
    }

    .right-header > * {
        padding: 5px;
        color:  #b1b1b1;
    }


/*SIDEBAR */
.sidebar {
    width: 35%;
    height: 100%;
    background: #fff;
}

    .notification {
        padding: 10px;
        background: #8EDAFD;
    }

        .notification .avatar-box {
            width: 35px;
            height: 35px;
            justify-content: center;
            align-items: center;
            color:  #8EDAFD;
            margin-right: 15px;
        }

        .notification-text p:first-child {
            font-weight: 700;
        }

        .notification-text p:last-child {
            font-size: 70%;
            text-decoration: underline;
        }

    .input-wrapper {
        padding: 5px;
        background: #ccc;
    }

        .input-wrapper .row {
            align-items: center;
            background: #fff;
        }

    .contact-list {
        overflow: auto;
        background: #fff;
    }

        .contact-button {
            padding: 0 10px;
            height: 50px;
            justify-content: space-between;
            align-items: center;
            background: inherit;
            border: 0;
            outline: none;
            font-size: 90%;
        }

        .contact-button:hover {
            background: lightgrey
        }

        .contact-button.active {
            background: #eaebeb;
        }

            .left-btn .avatar-box{
                height: 35px;
                width: 35px;
            }

            .left-btn .content-title {
                text-align: left;
            }

            .right-btn{
                padding-bottom: 12px;
                font-size: 80%;
            }


/*CONTENT */
.content {
    width: 65%;
    height: 100%;
    background: lightgrey;
    flex-direction: column;
    justify-content: space-between;
}
    .content .header {
        border-left: 0.5px solid lightgray;
    } 

        .content-title {
            margin-left: 20px;
        }

            .content-title h1 {
                font-size: 16px;
            }

            .content-title p {
                font-size: 12px;
            }

    .content-history {
        flex-grow: 1;
        background-image: url(../img/mine.jpg);
    }

    .chat-menu {
        height: 60px;
        justify-content: space-between;
        align-items: center;
    }

        .chat-menu button {
            margin: 0 20px;
            height: 30px;
            width: 30px;
            background: inherit;
            border: 0;
            font-size: 120%;
            color: darkgrey;
        }

        #chat-input {
            height: 75%;
            padding: 5px 15px;
            flex-grow: 1;
            border-radius: 7px;
            border: 2px solid transparent;
        }

        #chat-input:focus {
            outline: none;
            border: 2px solid lightblue;
        }