/* GENERAL */

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#009688 20%, #d2dbdc 20% 100%);
}


/* UTILITIES */
.flex {
    display: flex;
}


/* APP */
.app {
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
}

.header {
    height: 70px;
}


/*SIDEBAR */
.sidebar {
    width: 35%;
    height: 100%;
    background: #ccc;
}


/*CONTENT */
.content {
    width: 65%;
    height: 100%;
    background: #aaa;
}