/* GENERAL */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#009688 20%, #d2dbdc 20%);
}

button {
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: 0;
    cursor: pointer;
}

label {
    cursor: pointer;
}

li {
    list-style: none;
}

/* UTILITIES */
.no-display {
    display: none;
}

.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.block {
    display: block;
}

.white {
    background: #fff;
}

.template {
    display: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* APP */
.app {
    width: 80%;
    max-width: 1100px;
    min-width: 900px;
    height: 95%;
}


.avatar-box {
    border-radius: 50%;
    overflow: hidden;
}

    .avatar-box img {
        height: 100%;
        width: 100%;
    }

.header {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #eaeaea;
}

    .left-header .avatar-box{
        width: 35px;
        height: 35px;
        align-items: center;
    }

    .right-header > * {
        width: 30px;
        padding: 5px;
        color:  #b1b1b1;
    }

    .right-header button:hover {
        color: lightgray;
    }


/*SIDEBAR */
.sidebar {
    width: 35%;
    height: 100%;
    background: #fff;
}

    .notification {
        height: 60px;
        padding: 10px;
        background: #8EDAFD;
    }

        .notification .avatar-box {
            width: 35px;
            height: 35px;
            justify-content: center;
            align-items: center;
            color:  #8EDAFD;
            margin-right: 15px;
        }

        .notification-text p:first-child {
            font-weight: 700;
        }

        .notification-text p:last-child {
            font-size: 70%;
            text-decoration: underline;
        }

    .input-wrapper {
        height: 50px;
        justify-content: center;
        align-items: center;
        background: #f3efef;
        padding: 5px;
    }

        .input-wrapper > * {
            background: #fff;
            color:  #b1b1b1;
        }

        .input-wrapper i {
            height: 37px;
            padding-left: 15px;
            padding-right: 10px;
        }

        .fa-search:before  {
            position: relative;
            top: 25%;
        }

        .input-wrapper input {
            border: 0;
            padding: 10px;
            font-size: 90%;
        }

    .contact-list {
        max-height: calc(100% - 170px);
        overflow-y: auto;
        background: #fff;
    }

        .contact-button {
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            font-size: 60%;
        }

        .contact-button:hover {
            background: lightgrey
        }

        li.active .contact-button:not(:hover) {
            background: #eaebeb;
        }

            .left-btn .avatar-box{
                height: 35px;
                width: 35px;
            }

            .left-btn .content-title {
                text-align: left;
            }

            .left-btn .content-title p {
                margin-top: 5px;
                font-weight: 300;
            }

            .right-btn{
                padding-bottom: 12px;
            }


/*CONTENT */
.content {
    width: 65%;
    height: 100%;
    background: lightgrey;
    flex-direction: column;
    justify-content: space-between;
}
    .content .header {
        border-left: 0.5px solid lightgray;
        flex-shrink: 0;
    } 

        .content-title {
            margin-left: 20px;
        }

            .content-title h1 {
                font-size: 16px;
            }

            .content-title p {
                font-size: 12px;
            }

    #content-history {
        padding: 0 50px 10px 50px;
        flex-grow: 1;
        overflow-y: auto;
        background-image: url(../img/mine.jpg);
    }

        .mess-row {
            margin-top: 10px;
        }

        .mess-row.user {
            text-align: right;
        } 

        .mess-row.received {
            text-align: left;
        } 

            .mess-container {
                display: inline-block;
                min-width: 180px;
                max-width: 520px;
                padding: 10px;
                border-radius: 10px;
                word-break: break-all;
            }

            .mess-row.user .mess-container {
                background: lightgreen;
            }

            .mess-row.received .mess-container {
                background: #fff;
            }

            .mess-time {
                margin-top: 5px;
                font-weight: 100;
                font-size: 70%;
            }

    .chat-menu {
        height: 60px;
        justify-content: space-between;
        align-items: center;
    }

        .chat-menu button {
            margin: 0 20px;
            height: 30px;
            width: 30px;
            font-size: 120%;
            color: #6d7376;
        }

        .chat-menu button:hover {
            color: #fff;
        }

        #chat-input {
            height: 75%;
            padding: 5px 15px;
            flex-grow: 1;
            border-radius: 7px;
            border: 2px solid transparent;
        }

        #chat-input:focus {
            outline: none;
            border: 2px solid lightblue;
        }